*.zip
Document/
*.pdb
*.metagen
/MainSource/uLED-Pro/.vs/uLED-Pro/v15/ipch
/MainSource/uLED-Pro/.vs/uLED-Pro/v15/Server/sqlite3
/MainSource/uLED-Pro/uLED-Pro/obj/Debug
/SubSource/Hamamatsu-PMA-U10473-CLR-Library/LibU10473/.vs/LibU10473/v15/ipch
/SubSource/Hamamatsu-PMA-U10473-CLR-Library/LibU10473/LibU10473/Debug
/SubSource/Hamamatsu-PMA-U10473-CLR-Library/LibU10473/LibU10473/x64/Debug
/MainSource/uLED-Pro/.vs/uLED-Pro/v15
/SubSource/Hamamatsu-PMA-U10473-CLR-Library/LibU10473/.vs/LibU10473/v15
/Documents/Hamamatsu/Spectrometer/U10473-01_installer/U10473-01_installer/PMACOLORUSB/vbColorSample/obj
/Documents/Hamamatsu/Spectrometer/U10473-01_installer/U10473-01_installer/PMACOLORUSB/vcColorSample/.vs/ColorTest_2015/v15/ipch
/Documents/Hamamatsu/Spectrometer/U10473-01_installer/U10473-01_installer/PMACOLORUSB/vcColorSample/Debug
/Documents/Deltatau/PowerPMAC Development Kit-PDK (4.1.0.24)/Samples/C#/BuildAndDownload/obj
/Documents/Deltatau/PowerPMAC Development Kit-PDK (4.1.0.24)/Samples/C#/GatherTool/obj
/Documents/Deltatau/PowerPMAC Development Kit-PDK (4.1.0.24)/Samples/C#/SingleFileDownloader/obj
/Documents/Euresys/Multicam/multicam-sample-programs/MsCs/DominoSnapshot/obj
/Documents/Euresys/Multicam/multicam-sample-programs/MsCs/DominoSnapshotTrigger/obj
/Documents/Euresys/Multicam/multicam-sample-programs/MsCs/MulticamAdvancedWaitEvent/obj
/Documents/Euresys/Multicam/multicam-sample-programs/MsCs/MulticamAdvancedWaitSignal/obj
/Documents/Euresys/Multicam/multicam-sample-programs/MsCs/PicoloVideo/obj
/Documents/Euresys/Multicam/multicam-sample-programs/MsCs/PicoloVideoTrigger/obj
/Documents/Euresys/Multicam/multicam-sample-programs/MsVb.NET/DominoSnapshot/obj
/Documents/Euresys/Multicam/multicam-sample-programs/MsVb.NET/GrablinkSnapshot/obj
/Documents/Euresys/Multicam/multicam-sample-programs/MsVb.NET/PicoloVideo/obj
/Documents/Keyence/LK-G_최신버전_DLL_(CPP,CS,VB6/2_1_0_0_en_LKIF_CS-CPP-VB6/2_1_0_0_en_LKIF_CS-CPP-VB6/Sample/CS/obj/x86
/Documents/Hamamatsu/Spectrometer/U10473-01_installer/U10473-01_installer/PMACOLORUSB/vcColorSample/.vs
/Documents/Deltatau/PowerPMAC Development Kit-PDK (4.1.0.24)/Samples/C#/CommunicationsLibrary/obj/x86/Debug
/Documents/Wago/demo
/Documents/Fastech/C#/.vs/Examples/v15
/Documents/Keyence/LK-G_최신버전_DLL_(CPP,CS,VB6/2_1_0_0_en_LKIF_CS-CPP-VB6 (2)/2_1_0_0_en_LKIF_CS-CPP-VB6
/Documents/Keyence/LK-G_최신버전_DLL_(CPP,CS,VB6/2_2_0_0_en_LKIF_x64
/Documents/Keyence/USBClassLibrary_demo_1.0.3.0_WPF1.0.1.0/USBClassLibraryDemo/.vs/USBClassLibraryDemo/v15
/Documents/Keyence/USBClassLibrary_demo_1.0.3.0_WPF1.0.1.0/USBClassLibraryDemo/obj/Debug
/Documents/Keyence/USBClassLibrary_src_1.0.5.0/USBClassLibrary/obj/Debug
/Documents/Keyence/LK-G_최신버전_DLL_(CPP,CS,VB6/2_1_0_0_en_LKIF_CS-CPP-VB6/2_1_0_0_en_LKIF_CS-CPP-VB6/Sample/CS/.vs/Project1/v15
/Documents/PMT/SampleProgram-MadeByJJH/Sample/Sample/obj/Debug
/Documents/PMT/SampleProgram-MadeByJJH/Sample/.vs/Sample/v15
/Documents/Deltatau/PMAC Executive Pro2 Suite_4_4_0_0/PMAC Executive Pro2 Suite_4_4_0_0
/Documents/Deltatau/pmacExecutiveSuite_7.11.91
/Documents/Deltatau/PmacSuiteSetup 7.13.96
/Documents/Deltatau/PowerPMAC IDE (3.1.4.0)/PowerPMAC IDE (3.1.4.0)

/Necessary Components/2. 설치파일/cuda_8.0.61.2_windows.exe
/Necessary Components/2. 설치파일/cuda_8.0.61_win10.exe
/Documents/OpenCV With Cuda
/SubSource/OpenCV_NetApi
/Binary/dll/tbb.dll
/Binary/dll/opencv_world412.dll
/Binary/dll.7z
/Binary/Cudafy.NET.xml
/Binary/Cudafy.NET.dll
/MainSource/uLED-Pro/uLED-Pro/bin/Release
/MainSource/uLED-Pro/uLED-Pro/obj
/SubSource/OpenCV_NetApi/Debug
/SubSource/OpenCV_NetApi/Release
/SubSource/OpenCV_NetApi/x64

/SubSource/UMac_Communication_Library/UMAC_NetApi/Debug
/SubSource/UMac_Communication_Library/UMAC_NetApi/Release
/SubSource/UMac_Communication_Library/UMAC_NetApi/x64
/SubSource/Hamamatsu-PMA-U10473-CLR-Library/LibU10473/LibU10473/Release
/SubSource/Hamamatsu-PMA-U10473-CLR-Library/LibU10473/LibU10473/x64/Release
/Necessary Components/2. 설치파일/C1Studios_20192.1.3.exe
/SubSource/OpenCV_Function_Test_JJH/OpenCV_Function_Test_JJH/OpenCV_Function_Test_JJH/obj/Debug
/uLED-Pro-1120.7z
/SubSource.7z
/MainSource-1118.7z
/MainSource/uLED-Pro/.vs/uLED-Pro/v16
/SubSource/ELMerge/bin/Debug
/SubSource/ELMerge/obj/Debug
/MainSource - Using Pastech Lens Motor/uLED-Pro/.vs/
/.vs/
*.7z
/SubSource/ELMerge/obj/Release

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd
